In [3]:
lista = [1,2,3,4]
print (type(lista))

tupla = tuple(lista)
print (type(tupla))

listat = list(tupla)
print (type(listat))

<class 'list'>
<class 'tuple'>
<class 'list'>

In [11]:
tupla = (1, "string", True)
sub = tupla[1:2]
print (sub)

SyntaxError: invalid syntax (443271746.py, line 1)

In [14]:
tupla = (1, "string", True, 1)
print (1 in tupla)
print (len(tupla))

True
4
3

In [16]:
tupla = (1, 3, 1, 5)
print (tupla.count(1))

2

In [17]:
tupla = (1, 3, 1, 5)
print (tupla.index(3))

1

In [19]:
tupla = (1, 3, 1, 5)
print (max(tupla))
print (min(tupla))

5
1

In [22]:
tupla = (1, 3, 1, 5)
print (sorted(tupla))
print (type(sorted(tupla)))

[1, 1, 3, 5]
<class 'list'>

In [26]:
tupla = (1, 3, 1, 5)
rvsv = reversed(tupla)
print (rvsv)
print (type(reversed(tupla)))
print (tuple(rvsv))

<reversed object at 0x0000016C45BBFE20>
<class 'reversed'>
(5, 1, 3, 1)

In [28]:
tupla1 = (1, 3, 1, 5)
tupla2 = (2, 4, 6, 8)
tupla3 = tuple(zip(tupla1, tupla2))
print (tupla3)

((1, 2), (3, 4), (1, 6), (5, 8))

In [32]:
tuplaT = ((1, 3, 1, 5),(2, 4, 6, 8),(2, 4, 6, 8))
print (tuplaT[0])
print (tuplaT[0][0])

(1, 3, 1, 5)
1

In [36]:
tuplaT = ((1, 3, 1, 5),(2, 4, 6, 8),(2, 4, 6, 8))
# pTupla = tuplaT[1]
pTupla = tuplaT[0:2] #[:2]
print (pTupla)

((1, 3, 1, 5), (2, 4, 6, 8))

In [40]:
tuplaT = ((1, 3, 1, 5),(1, 2, 3, 4),(5, 6, 7, 8))
pTupla = tuplaT[2][0:3] 
print (pTupla)

(5, 6, 7)

In [42]:
tuplaU = (1)
print(type(tuplaU))

tuplaU = (1,)
print(type(tuplaU))

<class 'int'>
<class 'tuple'>

In [43]:
tuplaE = (1, "String", True)
string, entero, booleano = tuplaE
print(string, entero, booleano)

1 String True

In [47]:
sett = {1,2,3,4, 'dat'}
print(type(sett))
print(sett)

<class 'set'>
{1, 2, 3, 4, 'dat'}

In [51]:
datos = {'dat', 'a', 'fruta', 'a'}
print(datos)
# datos[0] = 'b'
# print(datos[0])

{'fruta', 'a', 'dat'}

In [53]:
datos = {'dat', 'a', 'fruta', 'a'}
print('dat' in datos)

True

In [54]:
frutas = {'piña', 'manzana', 'banano'}
frutas.add('mango')
print(frutas)

{'piña', 'mango', 'banano', 'manzana'}

In [58]:
frutas = {'piña', 'manzana', 'banano'}
frutas.remove('piña')
# frutas.discard('piña') Borra exista o no, no da error
print(frutas)

{'banano', 'manzana'}

In [60]:
frutas = {'piña', 'manzana', 'banano'}
lista = list(frutas)
print(frutas)
print(type(frutas))
print(lista)
print(type(lista))

{'piña', 'banano', 'manzana'}
<class 'set'>
['piña', 'banano', 'manzana']
<class 'list'>

In [61]:
lista = ['piña', 'manzana', 'banano', 'manzana']
frutas = set(lista)
print(frutas)
print(type(frutas))
print(lista)
print(type(lista))

{'piña', 'banano', 'manzana'}
<class 'set'>
['piña', 'manzana', 'banano', 'manzana']
<class 'list'>

In [62]:
set1 = {'piña', 'manzana', 'banano'}
set2 = {'mora', 'manzana', 'pera'}
set0 = set1 | set2 #union
print(set0)

{'piña', 'mora', 'pera', 'banano', 'manzana'}

In [63]:
set1 = {'piña', 'manzana', 'banano'}
set2 = {'mora', 'manzana', 'pera'}
set0 = set1 & set2 #Intersección
print(set0)

{'manzana'}

In [64]:
set1 = {'piña', 'manzana', 'banano'}
set2 = {'mora', 'manzana', 'pera'}
set0 = set1 - set2 #Diferencia, quitar los elementos de 1 q esten en 2
print(set0)

{'piña', 'banano'}

In [65]:
set1 = {'piña', 'manzana', 'banano'}
set2 = {'mora', 'manzana', 'pera'}
set0 = set1 ^ set2 #Diferencia simetrica, elimina 1 de 2 o 2 de 1   
print(set0)

{'mora', 'pera', 'piña', 'banano'}